.searchBox {
    display: flex;
    align-items: center;    
    justify-content: start;
}


select {
    background-color: black;
    color: white;
    height: 2em;
    font-size: 1.2em;
    border: 3px solid green;
    border-radius: 5px;
    padding: 5px 0px;
}

select:focus {
    outline: none;
}

select:nth-child(1) {
    margin-right: 20px;
}